<% layout("/layout.ejs") %>
<% block('styles').append('<link rel="stylesheet" href="/css/index.css">') %>
<div>
    <div class="container text-center">
        <h1 class="heading"><p style="font-size: 20px; font-weight: 300;"><%= success %></p> <br> All Listings</h1>
        
        <div class="row row-cols-1 row-cols-md-2 row-cols-lg-3 g-5 text-center">
            <% for (let listing of listings) {%>
                <div class="col" style="display:flex; justify-content: center;">
                    <a href="/listings/<%= listing._id %>">
                        <div class="card h-100" style="width: 18rem; border: 0px;">
                        <img src="<%= listing.image %>" class="card-img-top" alt="...">
                        <div class="card-body"style="text-align:start">
                            <h5 class="card-title">
                                <%= listing.title %>
                            </h5>
                            <p class="card-text">
                               &#8377; <%= listing.price.toLocaleString('en-IN') %>
                            </p>
                            
                        </div>
                        </div>
                    </a>
                </div>
            <% } %>
        </div>
    </div>
</div> 
