<% layout('layout') %>
<% block('styles').append('<link rel="stylesheet" href="/css/index.css">') %>

<div class="container ">

    <div class="details">

        <h2 class=" heading" ><%= listing.title %></h2>
        <div class="col">
            <img src="<%= listing.image %>" alt="" style="height: 300px; width: 100%;">
        </div>
        <div class="col" style="font-size: 18px; margin-left: 5px;">
            <h6 style="font-weight: 400; margin-top: 10px; text-align: center; font-size: 20px;" ><i><%= listing.description %></i></h6>
            <p><b>Owned By: </b><%= listing.owner.username %></p>
            <p><b>Price/night: </b>&#8377; <%= listing.price.toLocaleString('en-IN') %></p>
            <p><b>Location: </b><%= listing.location %></p>
            <p><b>Country: </b><%= listing.country %></p>
        </div>
        
        <% if(currUser && listing.owner._id.equals(currUser._id)){%>
            <div class="buttons">
                <a href="/listings/<%=listing._id%>/edit" class="btn btn-primary">Edit</a>
                <form class="d-inline" action="/listings/<%=listing._id%>?_method=delete" method="post">
                    <button class="btn btn-primary">Delete</button>
                </form>
            </div>
        <% } %>

    </div>

    <% if(currUser) {%>
        <hr style="width: 40%; margin-right: auto; margin-left: auto;">
        <div class="takeReview">
            
            <h3>Leave a Review</h3>
            <form action="/listings/<%= listing._id %>/reviews" method="post" novalidate class="needs-validation">
                
                <p style="margin-bottom: 6px;">Rate your experience: <br></p>
                <fieldset class="starability-coinFlip">
                    
                    <input type="radio" id="no-rate" class="input-no-rate" name="review[rating]" value="0" checked aria-label="No rating." />
                    
                    <input type="radio" id="rate1" name="review[rating]" value="1" />
                    <label for="rate1">1 star.</label>
                    
                    <input type="radio" id="rate2" name="review[rating]" value="2" />
                    <label for="rate2">2 stars.</label>
                    
                    <input type="radio" id="rate3" name="review[rating]" value="3" />
                    <label for="rate3">3 stars.</label>
                    
                    <input type="radio" id="rate4" name="review[rating]" value="4" />
                    <label for="rate4">4 stars.</label>
                    
                    <input type="radio" id="rate5" name="review[rating]" value="5" />
                    <label for="rate5">5 stars.</label>
                    
                    <span class="starability-focus-ring"></span>
                </fieldset>
                
    
                <label for="comment" class="form-label">Comment:</label>
                <textarea name="review[comment]" id="comment" rows="5" cols="20" class="form-control" required></textarea>
                <div class="invalid-feedback">Please type in some words as a comment...</div>
    
                <button class="btn btn-outline-dark mt-3" type="submit">Submit Review</button>
    
            </form>
    
        </div>
    <% } %>

<hr style="width: 100%; margin-right: auto; margin-left: auto;">

<% if(listing.reviews.length>0) {%>
    <h3 class="mb-5">All reviews</h3>
    <div class="allReviews row row-cols-2 g-5">
    
    
        <% for (let review of listing.reviews) {%>
            <div class="col ">
                
                <div class="card h-100">
                    <div class="card-body ">
                        <div class="card-text"><b>Written by : </b><%= review.author.username %></div>           
                        <div class="card-text " ><b>Comment : </b><%=review.comment%></div>
                        <b>Rating : </b>
                        <% for(let i = 0 ; i<review.rating ; i++){ %>
                            <i class="fa-solid fa-star" style="color: #ffd027;"></i>
                        <% } %>
    
                    </div>
                    <div class="card-footer">
                        <form action="/listings/<%=listing._id%>/reviews/<%= review._id %>?_method=delete" method="post">
                            <button class="btn btn-outline-dark">Delete</button>
                        </form>
                    </div>
                </div>
    
            </div>
        <% } %>
    
    </div>
    <% } %>
    
</div>