<% layout('layout') %>
<% block('styles').append('<link rel="stylesheet" href="/css/index.css">') %>

<h2 class=" heading" >Listing Details</h2>
<div class="container details">
    <div class="col">
        <img src="<%= listing.image %>" alt="" style="height: 300px; width: 100%;">
        <h4><%= listing.title %></h4>
    </div>
    <div class="col">
        <h6 style="font-weight: 400;"><%= listing.description %></h6>
        <p><b>Price/night: </b>&#8377; <%= listing.price.toLocaleString('en-IN') %></p>
        <p><b>Location: </b><%= listing.location %></p>
        <p><b>Country: </b><%= listing.country %></p>
    </div>
    <div class="buttons">
        <a href="/listings/<%=listing._id%>/edit" class="btn btn-primary">Edit</a>
        <form class="d-inline" action="/listings/<%=listing._id%>?_method=delete" method="post">
            <button class="btn btn-primary">Delete</button>
        </form>
    </div>
    
</div>